Repository FranciscoGarralda/ALL: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

📚 FASE 4 COMPLETADA: Documentación profesional
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  backend/package-lock.json
  backend/package.json
  backend/server-minimal.js
  backend/swagger.config.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔧 fix: Simplificar configuración de ESLint
  .eslintrc.json
  backend/.eslintrc.json
Due: prettier --write

🚨 FIX CRÍTICO: Arreglar build y seguridad
  .eslintrc.json
  src/shared/services/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔒 SEGURIDAD: Proteger endpoints y eliminar credenciales
  DEPLOYMENT.md
  backend/server-minimal.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🚀 HOTFIX: Desactivar ESLint para permitir deploy urgente
  .eslintrc.json
  next.config.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔧 MANTENIMIENTO COMPLETO: Limpieza profunda del código
  .eslintrc.json
  backend/config/database-init.js
  backend/config/database.js
  backend/migrations/001_fix_schema.sql
  backend/models/Client.js
  backend/models/Movement.js
  backend/models/User.js
  backend/models/index.js
  backend/package.json
  backend/routes/auth.js
  backend/routes/clients.js
  backend/routes/movements.js
  backend/routes/system.js
  backend/routes/users.js
  backend/scripts/check-and-fix-users.js
  backend/scripts/create-users-table.js
  backend/scripts/debug-users.js
  backend/scripts/deployment-check.js
  backend/scripts/fix-username-column.js
  backend/server.js
  next.config.js
  src/features/arbitrage/ArbitrajeApp.jsx
  src/features/user-management/UserManagementApp.jsx
  src/pages/index.js
  src/shared/services/api.js
  src/shared/services/index.js
  src/shared/services/preload.js
  src/shared/services/server-wake.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🚨 HOTFIX CRÍTICO: Arreglos urgentes para producción
  .github/workflows/railway-deploy.yml
  RAILWAY_SETUP.md
  backend/migrations/001_fix_schema.sql
  backend/railway.json
  backend/server-minimal.js
  src/shared/services/lazyLoader.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔥 ARREGLOS REALES Y COMPLETOS
  .eslintrc.json
  .github/dependabot.yml
  ACCIONES_URGENTES.md
  backend/server-minimal.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🎯 CORS SIMPLIFICADO: Usa FRONTEND_URL de Railway
  backend/server-minimal.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚨 CORS DEFINITIVO: Acepta TODOS los dominios de Vercel
  backend/server-minimal.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🐛 FIX: Error al guardar operación y apellido duplicado
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/ClientAutocomplete.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚀 ARREGLOS CRÍTICOS: Build, CORS y creación de clientes
  backend/package-lock.json
  backend/server-minimal.js
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/FormFieldGroup.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

💯 FIX DEFINITIVO: Campos de montos y creación de clientes
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
  src/shared/components/forms/CurrencyInput.jsx
  src/shared/components/forms/FormFieldGroup.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Add GET endpoints for movements and clients, improve form validation
  backend/server-minimal.js
  src/contexts/FormContext.jsx
  src/features/cash-register/CajaApp.jsx
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/features/initial-balances/SaldosInicialesApp.jsx
  src/features/movements/MovimientosApp.jsx
  src/features/profitability/RentabilidadApp.jsx
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Enhance mobile UX with responsive design, scroll, and touch improvements
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/pages/_document.js
  src/pages/index.js
  src/shared/components/forms/ClientModal.jsx
  src/shared/utils/mobileUtils.js
  src/styles/globals.css
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Refactor client name handling and parsing across client endpoints
  backend/server-minimal.js
  src/shared/components/forms/ClientAutocomplete.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Improve JWT security, input validation, and mixed payment handling
  backend/server-minimal.js
  src/features/movements/MovimientosApp.jsx
  src/shared/components/forms/CurrencyInput.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Remove deprecated middleware and refactor financial operations input handling
  backend/config/pool.js
  backend/fix-username-simple.js
  backend/middleware/auth.js
  backend/middleware/database-check.js
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/CurrencyInput.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Fix client creation and duplicate handling in forms
  package-lock.json
  src/pages/index.js
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/FormFieldGroup.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Improve z-index hierarchy and modal/dropdown styling for responsiveness
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
  src/styles/globals.css
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Add wallet fields and debug logging to financial operations form
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Remove console logs and minor export syntax adjustment
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
  src/shared/services/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Remove console error, improve error handling, and add installation instructions
  INSTALLATION.md
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/pages/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Improve touch interactions and UI accessibility across components
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
  src/shared/components/ui/FixedHeader.jsx
  src/shared/components/ui/NavigationApp.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Add database setup script for financial system configuration
  setup-database.sh
Due: none

Add PostgreSQL connection test script and minor auth comment cleanup
  backend/server-minimal.js
  backend/test-connection.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Add deploy.sh script for automating frontend and backend deployment
  deploy.sh
Due: none

Add git push script with remote repository and deployment support
  git-push.sh
Due: none

Refactor project structure, update env configs, and clean up deployment scripts
  .env.example
  .gitignore
  INSTALLATION.md
  README.md
  backend/.env.example
  backend/test-connection.js
  deploy.sh
  git-push.sh
  push-to-github.sh
  setup-database.sh
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

✅ Sistema 100% sincronizado - Frontend + Backend + PostgreSQL
  .env.example
Due: none

Comprender el sistema existente (#27)
  .env.example
  .gitignore
  README.md
  backend/.env.example
  backend/config/pool.js
  backend/fix-username-simple.js
  backend/middleware/auth.js
  backend/middleware/database-check.js
  backend/server-minimal.js
  package-lock.json
  push-to-github.sh
  src/contexts/FormContext.jsx
  src/features/cash-register/CajaApp.jsx
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/features/initial-balances/SaldosInicialesApp.jsx
  src/features/movements/MovimientosApp.jsx
  src/features/profitability/RentabilidadApp.jsx
  src/pages/_document.js
  src/pages/index.js
  src/shared/components/forms/ClientAutocomplete.jsx
  src/shared/components/forms/ClientModal.jsx
  src/shared/components/forms/CurrencyInput.jsx
  src/shared/components/forms/FormFieldGroup.jsx
  src/shared/components/ui/FixedHeader.jsx
  src/shared/components/ui/NavigationApp.jsx
  src/shared/services/index.js
  src/shared/utils/mobileUtils.js
  src/styles/globals.css
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

📚 Documentación completa del sistema - PR #27 como versión única
  SISTEMA_ACTUAL.md
Due: prettier --write

🔧 FIX: Simplificar validaciones y configurar entorno de desarrollo
  src/features/financial-operations/FinancialOperationsApp.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

📚 Agregar guía completa de configuración Vercel + Railway
  DEPLOYMENT_CONFIG.md
Due: prettier --write

🚨 FORCE UPDATE v2.0 - Validaciones simplificadas funcionando
  README.md
  src/pages/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔥 HOTFIX: Resolver problema de CSP en Vercel
  next.config.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚀 HARDCODE API URL - Solución directa para producción
  src/shared/services/api.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚀 Agregar configuración para Netlify como alternativa
  netlify.toml
Due: none

🔥 FIX CRÍTICO: Arreglar error de stock null
  src/shared/services/stockService.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🗄️ Script SQL para reinicializar base de datos correctamente
  backend/fix-database.sql
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
