Repository FranciscoGarralda/ALL: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🚀 Backend v2.0 - Completamente nuevo y optimizado para Railway
  backend-new/.env.example
  backend-new/README.md
  backend-new/init-database.js
  backend-new/package.json
  backend-new/railway.json
  backend-new/server.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Checkpoint before follow-up message
  backend-new/init-database.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🔧 Fix: Backend ahora puede arrancar sin PostgreSQL
  backend-new/railway.json
  backend-new/server.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

🔗 Actualizar URL del backend al nuevo servicio
  src/shared/services/api.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Checkpoint before follow-up message
  DEPLOYMENT_CONFIG.md
  RAILWAY_SETUP.md
  backend-new/.env.example
  backend-new/README.md
  backend-new/init-database.js
  backend-new/package.json
  backend-new/railway.json
  backend-new/server.js
  backend/.env.example
  backend/.eslintrc.json
  backend/.gitignore
  backend/README.md
  backend/fix-database.sql
  backend/init-database.sql
  backend/migrations/001_fix_schema.sql
  backend/migrations/add_permissions_to_users.sql
  backend/migrations/add_username_column.sql
  backend/migrations/create_users_table.sql
  backend/migrations/fix_clients_table_structure.sql
  backend/migrations/update_movements_clients_tables.sql
  backend/package-lock.json
  backend/package.json
  backend/postgresql-schema.sql
  backend/railway.json
  backend/scripts/generate-secure-password.js
  backend/scripts/run-migration.js
  backend/server-minimal.js
  backend/swagger.config.js
  netlify.toml
  server/package.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Checkpoint before follow-up message
  .env.example
  ACCIONES_URGENTES.md
  DEPLOYMENT.md
  push-to-github.sh
  server/package.json
Due: prettier --write

🧹 Proyecto completamente limpio - Solo Frontend
  src/shared/services/api.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🧹 Optimización y limpieza del frontend
  .husky/pre-commit
  .lintstagedrc.json
  CONTRIBUTING.md
  SECURITY.md
  SISTEMA_ACTUAL.md
  src/pages/index.js
  src/shared/services/api.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

✨ Optimización completa de responsive design
  src/features/financial-operations/FinancialOperationsApp.jsx
  src/shared/components/ui/FixedHeader.jsx
  src/styles/globals.css
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🔐 Sistema funciona sin backend para Vercel
  src/features/auth/LoginPage.jsx
  src/pages/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🔧 FIX CRÍTICO: Importar íconos Eye/EyeOff que faltaban
  src/features/auth/LoginPage.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚨 FIX URGENTE: Agregar export default a LoginPage
  src/features/auth/LoginPage.jsx
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚨 FIX DEFINITIVO: Corregir props de LoginPage
  src/pages/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🚨 FIX CRÍTICO: Eliminar React.lazy que causa error 426 en Vercel
  src/pages/index.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

🔄 FORCE REBUILD: Limpiar caché de Vercel v0.1.1
  package.json
  vercel.json
Due: prettier --write

🚨 FIX SSR: document is not defined error
  src/shared/services/FocusManager.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

Prepare system for production with env config and deployment docs
  .env.example
  SYSTEM_STATUS.md
  package-lock.json
  src/shared/services/api.js
  vercel.json
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Improve auth flow with local storage and backend validation
  package-lock.json
  src/pages/index.js
  src/shared/services/api.js
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Add backend, update README, and create quick start script
  README.md
  backend/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/server.js
  package-lock.json
  package.json
  src/shared/services/api.js
  start.sh
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx}
  prettier --write: any of: *.{json,md,yml,yaml}
